/* ========= MAIN CONTAINER ========= */
.container {
  width: 100%;
  background-color: #ffecb3;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}

.main-div {
  text-align: center;
}

/* ========= NAV & FOOTER CONTAINER ========= */



.nav-wrapper, .footer {
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  display: flex;
  background-color: #cce1f2;
  color: #ad372a;
  justify-content: space-around;
  vertical-align: middle;
  align-items: flex-start;
}

.nav-button, .nav-button-two {
  background-color: #ad372a;
  color: #dbbe9e;
  border: none;
  padding: 10px;
  width: 100px;
}

.nav-button-two{
  margin-left: 10px;
}


h1 {
  margin: 0;
}

/* =========STAFF PICKS CONTAINER ========= */
.row-staff-picks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: ce1f2;
  color: black;
  font-weight: bold;
  justify-content: space-evenly;

}

.alison-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  /* border: 5px solid black;
  background-color: whitesmoke; */
  width: 33%;

}

.autumn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  /* border: 5px solid black; */
  width: 33%;
}

.carole-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  /* border: 5px solid black; */
  width: 33%;
}

.header-footer {
  width: 100%;
}



/* ========= BOOK CONTAINER ========= */

/* book container has image and row as its flex elements */
/* row and image tak 50% of book container */
/* row is flexed with all the books */
/* .book-container {
  background-color: #ffecb3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} */

.book-image-div {
  height 50%;
  width: 50%;
  /* border-radius: 5%; */
}

.book-image {
  height 100%;
  width: 100%;
}

.card-image {
  height: 300px;
  width: 200px;
  overflow: hidden;
}

/* .card-reveal { */
  /* overflow: visible !important; */
/* } */

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}

.thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 5%;
}

/* ========= NEW BOOK CONTAINER ========= */
.new-book {
  display: flex;
  justify-content: center;
  background-color: #ffecb3;
}

summary{
  background-color: #28a39b;
  color: white;
  padding: 10px;
  width: 150px;
  font-weight: bolder;
  margin-bottom: 10px;

}

.new-book-form{
  margin-bottom: 10px;
}
/* ========= FIND BOOK CONTAINER ========= */


.find-book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 20px;
}

.google-books-input {
  width: 30%
  height: auto;
}

.google-book {
  width: 50%;
  height: auto;
}

.google-book-image {
  width: 20%;
  height: auto;
}
