/* ========= MAIN CONTAINER ========= */
.container {
  width: 100%;
  background-color: whitesmoke;
  font-family: 'Delius', cursive;
  font-size: 1em;
}

.main-div {
  text-align: center;
}

/* ========= NAV CONTAINER ========= */
nav {
    height: 80px;
    line-height: 30px;
}

.nav-wrapper {
  margin: 2rem 0 2rem 0;
  flex-direction: row;
  display: flex;
  vertical-align: center;
  background-color: #cce1f2;
  color: #ad372a;
  justify-content: space-evenly;
  font-family: 'Berkshire Swash', cursive;
}

.nav-button, .nav-button-two {
  background-color: #ad372a;
  color: #dbbe9e;
  border: none;
  padding: 10px;
  width: 100px;
  margin-top:20px
  /* vertical-align: center; */
}

.nav-button-two{
  margin-left: 10px;
}

h1 {
  margin: 0;
}

/* =========STAFF PICKS CONTAINER ========= */
.row-staff-picks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  justify-content: space-evenly;
}

.alison-container, .autumn-container, .carole-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  width: 33%;
}

.header-card {
  width: 100%;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ========= BOOK CONTAINER ========= */

/* book container has image and row as its flex elements */
/* row and image take 50% of book container */
/* row is flexed with all the books */
/* .book-container {
  background-color: #ffecb3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} */

.book-image-div {
  height 50%;
  width: 50%;
  /* border-radius: 5%; */
}

.book-image {
  height 100%;
  width: 100%;
}

.card-image {
  height: 300px;
  width: 200px;
  overflow: hidden;
}

/* .card-reveal { */
  /* overflow: visible !important; */
/* } */

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  background-color: whitesmoke;
  margin-left: 10px;

}

.thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 5%;
}

/* ========= NEW BOOK CONTAINER ========= */
.new-book {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

summary{
  background-color: #28a39b;
  color: white;
  padding: 5px 5px 5px 5px;
  width: 150px;
  font-weight: bolder;
  margin-bottom: 10px;
  box-shadow: 1px 1px #ccc;
}

.new-book-form{
  margin-bottom: 10px;
}


/* ========= FIND BOOK CONTAINER ========= */
.find-book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.google-books-input {
  width: 30%
  height: auto;
}

.google-book {
  width: 50%;
  height: auto;
}

.google-book-image {
  width: 20%;
  height: auto;
}

/* ========= FOOTER CONTAINER ========= */
.footer {
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  display: flex;
  background-color: #cce1f2;
  justify-content: center;
  padding-top: 17px;
  align-items: baseline;
  height: 80px;
}

/* ========= BUTTONS ========= */
.buttons-edit {
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 9px;
}

.edit-btn{
  background-color: #28a39b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width:90px;
  display: inline-block;
  padding: 7px;
  box-shadow: 1px 1px #ccc;
}
